.authorization {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: space-between;
  min-width: 340px;
  min-height: 450px;
  border-radius: 12px;
  box-sizing: border-box;
  background-color: var(--white);
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 14%);
  padding: 50px 30px 30px;

  h1 {
    margin-bottom: 50px;
  }

  .form {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    flex-basis: 100%;

    .form__input-group {
      position: relative;
    }

    .form__input-group:not(:last-child) {
      margin-bottom: 24px;
    }

    .form__label {
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-weight: 500;
      text-align: left;
      color: var(--grey);
      font-size: 13px;
      line-height: 1;
      transition: all 0.2s ease-in;
      pointer-events: none;
    }

    .form__input {
      width: 100%;
      padding: 8px 0 7px;
      border: none;
      height: 13px;
      border-bottom: 1px solid #3369f3;
      font-size: 13px;
      line-height: 1;
    }
    .form__input:focus {
      outline: none;
    }

    .form__input:focus + .form__label,
    .form__input:not(:placeholder-shown) + .form__label {
      transform: translateY(-23px);
      font-size: 9px;
    }

    .form__buttons {
      position: relative;
      bottom: 0;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: space-between;
      margin-top: 60px;
    }
  }
  .link {
    margin-top: 14px;
  }
}
