<head>
  <meta charset="UTF-8" />
  <link rel="preconnect" href="https://rsms.me/" />
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/svg+xml" href="/assets/vite.svg" />
  <title>{{#if title}}{{title}} | {{/if}}Messenger App</title>
  <link rel="stylesheet" href="/style.css" />
  {{{styles}}}
</head>
