:root {
  --white: #fff;
  --white-bg: #fbfbfb;
  --blue: #3369f3;
  --dark-blue: #3572f5;
  --black: #1e1e1e;
  --grey: #999;
  --light-grey: #eaeaea;
  --red: #ff2f2f;
  --loader-grey: #efefef;
  --blue-hover: #e4edfd;
  --message-grey: #f8f8f8;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-feature-settings:
    "liga" 1,
    "calt" 1; /* fix for Chrome */

  line-height: 1.5;
  font-weight: 400;
  color: var(--black);
  background-color: var(--white);
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

a {
  font-size: 11px;
  line-height: 1;
  font-weight: 500;
  color: var(--blue);
  text-decoration: inherit;
}

a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
  margin: 0;
}

#app {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.back-sidebar {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 64px;
  height: 100vh;
  padding: 0 18px;
  background-color: var(--white-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &:hover {
    text-decoration: none;
    background-color: var(--blue-hover);
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.button {
  border-radius: 8px;
  border: none;
  max-width: 280px;
  padding: 12px 70px;
  font-size: 13px;
  line-height: 1;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
}

button:hover {
  background-color: var(--dark-blue);
}

.nav {
  margin-top: 40px;
  min-width: 340px;

  .nav__list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    text-align: left;
    list-style-type: none;

    li {
      .link {
        padding: 10px 0;
      }
    }

    li:not(:last-child) {
      border-bottom: 1px solid var(--light-grey);
    }
  }
}

.arrow-button {
  border-radius: 50%;
  border: none;
  width: 28px;
  height: 28px;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
  flex-shrink: 0;
}
