:root {
  --white: #fff;
  --white-bg: #fbfbfb;
  --blue: #3369f3;
  --dark-blue: #3572f5;
  --black: #1e1e1e;
  --grey: #999;
  --light-grey: #eaeaea;
  --red: #ff2f2f;
  --loader-grey: #efefef;
  --blue-hover: #e4edfd;
  --message-grey: #f8f8f8;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-feature-settings:
    "liga" 1,
    "calt" 1; /* fix for Chrome */

  line-height: 1.5;
  font-weight: 400;
  color: var(--black);
  background-color: var(--white);
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

a {
  font-size: 11px;
  line-height: 1;
  font-weight: 500;
  color: var(--blue);
  text-decoration: inherit;
}

a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
  margin: 0;
}

#app {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
